<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>

<script>

    let statCount = [[${equipment.getStatsList.size}]] +1;
    let elementCount = [[${equipment.getElementList.size}]] +1;
    const equipmentId = [[${equipment.id}]];


    function addStat() {
        $.ajax({
            type: "GET",
            url: "/api/equipment/stat-type",
            success: function (res) {
                let html = `  <div class="accordion-item statsInput" id="statDetail${statCount}">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#statDetailAccordion-${statCount}" aria-expanded="true" aria-controls="statDetailAccordion-${statCount}">
                                능력치
                            </button>
                        </h2>
                        <div id="statDetailAccordion-${statCount}" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="mb-3 row">
                                    <label for="lastType${statCount}">능력치 타입</label>
                                    <select class="form-select" size="3" aria-label="Size 3 select example"
                                            id="statType${statCount}" name="statType" style="height: 100px;">

                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="stat${statCount}" class="col-sm-2 col-form-label">능력치</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="0.01" class="form-control" id="stat${statCount}" name="stat">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="statIncrease${statCount}" class="col-sm-2 col-form-label">능력치 증가폭</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="0.01" class="form-control" id="statIncrease${statCount}"
                                               name="statIncrease">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger" onclick="removeStat(${statCount})" >삭제</button>
                            </div>
                        </div>
                    </div>`

                $("#statDetailAccordion").append(html);

                let optionHtml = "";
                for (const re of res) {
                    optionHtml += `<option  value="${re.code}">${re.name}</option>`
                }
                $("#statDetail" + statCount).find(".form-select").append(optionHtml);
                statCount++
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    }

    function addElement() {
        $.ajax({
            type: "GET",
            url: "/api/equipment/element-types",
            success: function (res) {
                let html = `
                 <div class="accordion-item elementsInput" id="elementDetail${elementCount}">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#elementDetailAccordion-${elementCount}" aria-expanded="true"
                                                    aria-controls="elementDetailAccordion-${elementCount}">
                                                능력치
                                            </button>
                                        </h2>
                                        <div id="elementDetailAccordion-${elementCount}" class="accordion-collapse collapse show">
                                            <div class="accordion-body">
                                                <div class="mb-3 row">
                                                    <label for="lastType">속성타입</label>
                                                    <select class="form-select-equipmentElementType" size="3"
                                                            aria-label="Size 3 select example"
                                                            id="equipmentElementType${elementCount}" th:name="equipmentElementType" style="height: 100px;">

                                                    </select>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="lastType">속성 능력치 타입</label>
                                                    <select class="form-select-equipmentElementStatType" size="3"
                                                            aria-label="Size 3 select example"
                                                            id="equipmentElementStatType${elementCount}" th:name="equipmentElementStatType" style="height: 100px;">

                                                    </select>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="stat" class="col-sm-2 col-form-label">수치</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="0.01" class="form-control" id="value${elementCount}"
                                                               name="value">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="stat" class="col-sm-2 col-form-label">수치증가폭</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="0.01" class="form-control" id="valueIncrease${elementCount}"
                                                               name="valueIncrease">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="stat" class="col-sm-2 col-form-label">속성내성</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="0.01" class="form-control" id="resistValue${elementCount}"
                                                               name="resistValue">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="stat" class="col-sm-2 col-form-label">속성내성 증가폭</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="0.01" class="form-control" id="resistValueIncrease${elementCount}"
                                                               name="resistValueIncrease">
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-danger" onclick="removeElement(${elementCount})">
                                                    삭제
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                `

                $("#elementDetailAccordion").append(html);
                debugger
                let optionHtml = "";
                for (const re of res["equipmentElementType"]) {
                    optionHtml += `<option  value="${re.code}">${re.name}</option>`
                }
                $("#elementDetail" + elementCount).find(".form-select-equipmentElementType").append(optionHtml);

                optionHtml = ""
                for (const re of res["equipmentElementStatType"]) {
                    optionHtml += `<option  value="${re.code}">${re.name}</option>`
                }
                $("#elementDetail" + elementCount).find(".form-select-equipmentElementStatType").append(optionHtml);
                elementCount++
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    }

    function removeStat(count) {
        debugger
        let id = "#statDetail" + count;
        let htmlCount = 0;
        for (i = 1; i <= statCount; i++) {
            if ($("#statDetailAccordion-" + i)[0] != undefined) {
                htmlCount++;
            }
        }

        if (htmlCount < 2) {
            Swal.fire("한개이상 스탯은 존재해야합니다.");
        } else {
            $(id).remove();
            // elementCount--
        }
    }

    function removeElement(count) {
        let id = "#elementDetail" + count;
        let htmlCount = 0;
        for (i = 1; i <= elementCount; i++) {
            if ($("#elementDetailAccordion-" + i)[0] != undefined) {
                htmlCount++;
            }
        }

        if (htmlCount < 2) {
            Swal.fire("한개이상 속성은 존재해야합니다.");
        } else {
            $(id).remove();
            // elementCount--
        }
    }

    function update() {
        let updateForm = $("#updateForm").serializeArray();
        let param = {};

        let statList = [];
        let elementList = [];

        param["statsList"] = statList;
        param["elementList"] = elementList;

        $('.statsInput').each(function(index) {
            var statType = $(this).find('select.form-select').val();
            var stat = parseFloat($(this).find('input[name="stat"]').val());
            var id = parseFloat($(this).find('input[name="statId"]').val());
            var statAdd = parseFloat($(this).find('input[name="statIncrease"]').val());

            // 데이터를 JavaScript 객체로 매핑
            var statData = {
                id: id,
                statType: statType,
                stat: stat,
                statAdd: statAdd
            };

            // 배열에 추가
            statList.push(statData);
        });

        $('.elementsInput').each(function(index) {
            debugger
            var elementType = $(this).find('select.form-select-equipmentElementType').val();
            var elementStatType = $(this).find('select.form-select-equipmentElementStatType').val();
            var value = parseFloat($(this).find('input[name="value"]').val());
            var valueIncrease = parseFloat($(this).find('input[name="valueIncrease"]').val());
            var resistValue = parseFloat($(this).find('input[name="resistValue"]').val());
            var id = parseFloat($(this).find('input[name="elementId"]').val());
            var resistValueIncrease = parseFloat($(this).find('input[name="resistValueIncrease"]').val());

            // 데이터를 JavaScript 객체로 매핑
            var elementData = {
                id: id,
                elementType: elementType,
                elementStatType: elementStatType,
                value: value,
                valueIncrease: valueIncrease,
                resistValue: resistValue,
                resistValueIncrease: resistValueIncrease
            };

            // 배열에 추가
            elementList.push(elementData);
        });

        for (let i = 0; i < updateForm.length; i++) {
            param[updateForm[i]['name']] = updateForm[i]['value'];
        }

        $.ajax({
            type: "PUT",
            url: "/api/equipment/" + equipmentId,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(param),
            success: function (response) {
                window.location.reload();
            },
            error: function (e) {
                Swal.fire(e.responseJSON.message);
            }
        })
    }


</script>
<body>
<div class="d-flex" id="wrapper">
    <div th:replace="layout/side::side"></div>
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav th:replace="layout/top::top"></nav>
        <div class="container-fluid">
            <h1 class="mt-4">장비 등록</h1>
            <form id="updateForm">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                기본정보
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="mb-3 row">
                                    <label for="name" class="col-sm-2 col-form-label">장비명</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="name" name="name" th:value="${equipment.name}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="imageId" class="col-sm-2 col-form-label">이미지 ID</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="imageId" name="imageId" th:value="${equipment.image_id}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="lastType">능력치 타입</label>
                                    <select class="form-select" size="3" aria-label="Size 3 select example"
                                            id="lastType" th:name="lastType" style="height: 100px;">
                                        <option th:each="val : ${enforceLastType}" th:value="${val?.code}"
                                                th:utext="${val?.name}" th:selected="${val?.code == equipment.getLast_type.name()}"></option>
                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="rankType">등급</label>
                                    <select class="form-select" size="3" aria-label="Size 3 select example"
                                            id="rankType" th:name="rankType" style="height: 100px;">
                                        <option th:each="val : ${equipmentRankType}" th:value="${val?.code}"
                                                th:utext="${val?.name}" th:selected="${val?.code == equipment.getRank_type.name()}"></option>
                                    </select>
                                </div>
                                <div class="mb-3 row">
                                    <label for="last" class="col-sm-2 col-form-label">최종 강화효과 수치</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" step="0.01" id="last" name="last" th:value="${equipment.last}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="last" class="col-sm-2 col-form-label">장비 동적 번호</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="number" id="dynamicId" name="dynamicId" th:value="${equipment.dynamicId}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" >
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                스탯
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body" id="stat-accordion">
                                <div class="d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-success mb-5 p-2" onclick="addStat()">스탯 추가
                                    </button>
                                </div>
                                <div class="accordion" id="statDetailAccordion">
                                    <div th:each="stats, index : ${equipment.statsList}" class="accordion-item statsInput" th:id="${'statDetail' + index.count}">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    th:data-bs-target="${'#statDetailAccordion-' + index.count}" aria-expanded="true"
                                                    th:ria-controls="${'#statDetailAccordion-' + index.count}">
                                                능력치
                                            </button>
                                        </h2>
                                        <div th:id="${'statDetailAccordion-' + index.count}" class="accordion-collapse collapse show">
                                            <div class="accordion-body">
                                                <div class="mb-3 row">
                                                    <label for="lastType">능력치 타입</label>
                                                    <select class="form-select" size="3"
                                                            aria-label="Size 3 select example"
                                                            id="statType" th:name="statType" style="height: 100px;">
                                                        <option th:each="val : ${statType}" th:value="${val?.code}"
                                                                th:utext="${val?.name}" th:selected="${val?.code == stats.getStatType().name()}"></option>
                                                    </select>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="stat" class="col-sm-2 col-form-label">능력치</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="0.01" class="form-control" id="stat"
                                                               name="stat" th:value="${stats.stat}">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="statIncrease" class="col-sm-2 col-form-label">능력치
                                                        증가폭</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="0.01" class="form-control"
                                                               id="statIncrease"
                                                               name="statIncrease" th:value="${stats.statAdd}">
                                                    </div>
                                                </div>
                                                <input type="hidden" class="form-control" th:id="${stats.id}" name="statId" th:value="${stats.id}">
                                                <button type="button" class="btn btn-danger" th:onclick="removeStat([[${index.count}]])">
                                                    삭제
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                속성
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-success mb-5 p-2" onclick="addElement()">속성추가
                                    </button>
                                </div>
                                <div class="accordion" id="elementDetailAccordion">
                                    <div th:each="element, index : ${equipment.elementList}" th:id="${'elementDetailAccordion-' + index.count}">
                                        <div class="accordion-item elementsInput" th:id="${'elementDetail' + index.count}" >
                                            <h2 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                        th:data-bs-target="${'#elementDetailAccordion-' + index.count}" aria-expanded="true"
                                                        th:aria-controls="${'#elementDetailAccordion-' + index.count}">
                                                    능력치
                                                </button>
                                            </h2>
                                            <div th:id="${'#elementDetailAccordion-' + index}" class="accordion-collapse collapse show">
                                                <div class="accordion-body">
                                                    <div class="mb-3 row">
                                                        <label for="lastType">속성타입</label>
                                                        <select class="form-select-equipmentElementType" size="3"
                                                                aria-label="Size 3 select example"
                                                                id="equipmentElementType" th:name="equipmentElementType"
                                                                style="height: 100px;">
                                                            <option th:each="val : ${equipmentElementType}"
                                                                    th:value="${val?.code}"
                                                                    th:utext="${val?.name}" th:selected="${val?.code == element.getElementType.name()}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="lastType">속성 능력치 타입</label>
                                                        <select class="form-select-equipmentElementStatType" size="3"
                                                                aria-label="Size 3 select example"
                                                                id="equipmentElementStatType"
                                                                th:name="equipmentElementStatType"
                                                                style="height: 100px;">
                                                            <option th:each="val : ${equipmentElementStatType}"
                                                                    th:value="${val?.code}"
                                                                    th:utext="${val?.name}" th:selected="${val?.code == element.getElementStatType.name()}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="stat" class="col-sm-2 col-form-label">수치</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" step="0.01" class="form-control" id="value"
                                                                   name="value" th:value="${element.value}">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="stat" class="col-sm-2 col-form-label">수치증가폭</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" step="0.01" class="form-control"
                                                                   id="valueIncrease"
                                                                   name="valueIncrease" th:value="${element.valueIncrease}">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="stat" class="col-sm-2 col-form-label">속성내성</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" step="0.01" class="form-control"
                                                                   id="resistValue"
                                                                   name="resistValue" th:value="${element.resistValue}">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="stat" class="col-sm-2 col-form-label">속성내성 증가폭</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" step="0.01" class="form-control"
                                                                   id="resistValueIncrease"
                                                                   name="resistValueIncrease" th:value="${element.resistValueIncrease}">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" class="form-control" th:id="${element.id}" name="elementId" th:value="${element.id}">
                                                    <button type="button" class="btn btn-danger" th:onclick="removeElement([[${index.count}]])">
                                                        삭제
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="update()">수정</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
