<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<script>
  let totalPages = [[${pageable.pageTotal}]]

  $().ready(function () {
    page();
  });

  function detail(id) {
    window.location.href = "/view/equipment/detail/" + id;
  }

  function page() {
    if (totalPages !== 0) {
      $('#pagination').twbsPagination({
        totalPages: [[${pageable.pageTotal}]], // 전체 페이지
        startPage: [[${pageable.pageNow}]], // 시작(현재) 페이지
        initiateStartPageClick: false,
        visiblePages: 10, // 최대로 보여줄 페이지
        prev: "‹", // Previous Button Label
        next: "›", // Next Button Label
        first: '«', // First Button Label
        last: '»', // Last Button Label
        onPageClick: function (event, page) {
          window.location.href = "/view/equipment?page=" + page;
        }
      });
    }
  }


  function remove(id) {
    this.event.stopPropagation();
    $.ajax({
      type: "DELETE",
      url: "/api/equipment/" + id,
      success: function (response) {
        window.location.reload();
      },
      error: function (e) {
        Swal.fire(e.responseJSON.message);
      }
    })
  }

</script>
<body>
<div class="d-flex" id="wrapper">
  <div th:replace="layout/side::side"></div>
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav th:replace="layout/top::top"></nav>
    <div class="container-fluid">
      <h1 class="mt-4">CMS EQUIPMENT</h1>
      <button type="button" class="btn btn-success" onclick="location.href='/view/equipment/create'">
        등록
      </button>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr class="table-warning">
            <td>장비 고유번호</td>
            <td>장비명</td>
            <td>장비 이미지 ID</td>
            <td>장비 등급</td>
            <td>최종 강화 효과 타입</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="list : ${pageable.results}" th:onclick="detail([[${list.id}]])">
            <td><span th:text="${list.id}"></span></td>
            <td><span th:text="${list.name}"></span></td>
            <td><span th:text="${list.image_id}"></span></td>
            <td><span th:text="${list.rank_type}"></span></td>
            <td><span th:text="${list.getLast_type().getLabel()}"></span></td>
            <button type="button" class="btn btn-primary" th:onclick="remove([[${list.id}]])">삭제</button>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="paging-div">
        <ul class="pagination" id="pagination">

        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
